<search-textbox></search-textbox>
<br/>
<br/>
<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>From</th>
        <th>Experience</th>
    </thead>
    <tr>
        <td>
            <a href="">

            </a>
        </td>
        <td>
            <a href="">
                
            </a>
        </td>
        <td>
            <a href="">
                
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2">
           &nbsp;
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td colspan="4">
          No Employee
        </td>
    </tr>
    Number of Employee
</table>
<br />
<br />